* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

.centered, .weather-section, .divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header {
  width: 100vw;
  height: auto;
  background-color: #1E3163;
  font-size: 1.4rem;
}
body > header nav {
  width: 100vw;
  min-height: 75px;
}
body > header div.title {
  width: 100vw;
  min-height: 75px;
}
body > header div.title h1 {
  margin-top: 10px;
  color: white;
  font-size: 1.8rem;
}

footer {
  background-color: #1E3163;
  width: 100vw;
  height: 350px;
}

main {
  width: 100vw;
  min-height: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.containers {
  padding: 100px 0;
  background: linear-gradient(#9198e5, white, #9198e5);
}
.containers .news-header {
  background-color: #1e3162;
  width: 75vw;
  min-height: 150px;
  margin-bottom: 50px;
}
.containers .news-header > h2 {
  color: white;
  text-align: center;
}
.containers .news {
  background-color: #1e3162;
  margin: 50px 50px;
  min-height: 400px;
  min-width: 400px;
  height: 600px;
  width: 600px;
  max-width: 600px;
  align-items: center;
  color: white;
}
.containers .news header {
  margin: 10px;
  text-decoration: underline;
}
.containers .news header h1 {
  font-size: 2rem;
  font-weight: bold;
}
.containers .news p {
  padding: 0 15px;
  font-size: 1.3rem;
  height: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.containers .news img {
  width: 90%;
  height: 60%;
  padding-bottom: 25px;
}
.containers .row {
  --bs-gutter-x: 0;
}

.divider {
  height: auto;
  min-height: 600px;
  width: 100vw;
  background-color: #1E3163;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.divider .divider-box {
  width: 350px;
  height: 350px;
  background-color: white;
  margin: 50px 35px;
}

.weather-section {
  height: 900px;
  width: 100vw;
  max-width: 100vw;
  background: linear-gradient(#9198e5, white, #9198e5);
}
.weather-section .weather-content {
  width: 600px;
  max-width: 100vw;
  min-height: 650px;
  background-color: #1e3162;
  border-radius: 10px;
  word-wrap: break-word;
}
.weather-section .weather-content h4 {
  color: white;
  text-align: center;
  padding: 25px 0;
  font-size: 1.9rem;
}
.weather-section .weather-content ul {
  width: 100%;
  max-width: 100vw;
  padding: 0 50px 50px 50px;
}
.weather-section .weather-content ul li {
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
}
.weather-section iframe {
  margin-left: 50px;
  width: 600px;
  height: 600px;
  border: 3px solid #1e3162;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .weather-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .weather-section .weather-content {
    margin-top: 100px;
  }
  .weather-section iframe {
    margin: 50px 0 100px 0;
    min-height: 350px;
  }

  .news-header {
    width: 600px !important;
    max-width: 100vw !important;
  }
}
@media (max-width: 600px) {
  .news {
    max-width: 100% !important;
    max-height: 500px !important;
  }

  .news-header {
    width: 600px !important;
    max-width: 100vw !important;
  }
}
@media (max-width: 475px) {
  .weather-section .weather-content {
    width: 100%;
    border-radius: 0;
  }
  .weather-section .weather-content ul {
    width: 100vw;
    padding: 0;
  }
  .weather-section .weather-content li {
    width: 90vw;
  }
  .weather-section iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
